body {
	padding-top: 70px;
}

#fun-facts {
	border-style: solid;
	padding: 20px;
	margin-bottom: 20px;
}

#fun-facts > .body {
	font-weight: bold;
	margin-left: 10px;
}

h1 {
	text-align: center;
	margin-top: 0px;
}

p {
	font-size: 15px;
}

.projects h3, .projects p {
	margin-left: 20px;
}

.container > .links > li {
	margin: 10px 0px;
	font-size: 16px;
	font-weight: bold;
}