body {
	padding-top: 70px;
}

.container {
	padding-bottom: 20px;
}

section {
	border-bottom: solid;
	padding-top: 20px;
}

#fun-facts {
	margin-bottom: 20px;
}

#fun-facts > .body {
	font-weight: bold;
	margin-left: 10px;
}

h1 {
	text-align: center;
	margin-top: 0px;
}

p {
	font-size: 15px;
}

.projects h3, .projects p {
	margin-left: 20px;
}

.container > .links > li {
	margin: 10px 0px;
	font-size: 16px;
	font-weight: bold;
}

.skillset {
	margin: 30px 0px;
	border-style: solid;
	border-radius: 20px;
	padding: 20px;
}

.skillset img {
	margin: 10px 20px 10px;
	width: 80px;
	height: 80px;
}