<h1>Michael Campos</h1>
<p>Welcome to my site! Here's a little about myself:</p>
<p>I was born and raised in San Jose,CA. I attended Santa Clara University where I graduated in 2014 with a degree in Web Design and Engineering and a minor in Computer Engineering. During my last quarter I worked for six months at a startup incubator. After completing my contract I attended a web development accelerator for three months with aspirations of becoming a full-stack web developer.</p>
<p>When I'm not coding you'll usually spot me hiking, traveling, or at the gym.</p>